/* IMPORT ALL GLOBALS */
@import "../_all-globals";

/* START PAGE FOOTER STYLES */


// GENERAL FORM ELEMENTS

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: block;
  border: 1px solid $black;
  padding: 0.25em;
  width: 100%;
}


// SPECIFIC FORM ELEMENTS
