/* IMPORT ALL GLOBALS */
@import "../_all-globals";

/* START GLOBAL ELEMENT STYLES */



// UNIVERSAL STUFF


// Border box all the things - http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*{
  @include box-sizing(border-box);
}


// Sort out some tricky scrolling and font bugs 
html, body {
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}



// RESET FUNKY NORMALIZE RULES

figure{
  margin: 0;
}



// BASE CONTAINER

// This sets up a basic container that uses a reponsive grid system - see base/grid for the variables
// used and refer to the susy docs for more information 

.container{

  // This sets up a basic susy container with a max width of 94%.  The container uses the default $susy variable
  // found in base/grid which is a 6 col grid

  @include container();
  max-width: 94%;

  // At large mobile size (see base/vars) we change the max width of the container (which is still 6 col)
  @include breakpoint($large_mobile){
    max-width: 90%;
  }
  
  // At tablet size (see base/vars) we change the max width of the container and also change the grid to 
  // a 9 col grid using the $susy_nine_col variable (see base/grid)
  @include susy-breakpoint($tablet, $susy_nine_col){
     max-width: 85%;
  }
  
  // At desktop size (see base/vars) we  change the grid to a 12 col grid using the $susy_twelve_col variable (see base/grid)
  @include susy-breakpoint($desktop, $susy_twelve_col){

  }

  // At large desktop size (see base/vars) we  lock of the width at the large desktop width
  @include breakpoint($large_desktop, $susy_twelve_col){
    width: $large_desktop;
  }
}



// PAGE WRAPPER STYLES (if needed)


// NAVIGATION - GENERAL (if needed)


// PAGE BANNERS - GENERAL (if needed)
