/* IMPORT ALL GLOBALS */
@import "../_all-globals";


/* START TYPOGRAPHY STYLES */

// Basic typography setup

// For vertical rhythm - see https://medium.com/@amlinarev/using-sass-compass-vertical-rhythm-to-set-up-typography-defaults-in-a-project-34fe2f1d2c02

@include establish-baseline;

html{
  font-family: $base-font-family;
  font-weight: $light-font-weight
}

// Add basic styles to headings that a common to all heading types (that way they can be overwritten more easily using classes)
// e.g. an h1 can be given the class of .h2 and will look just like an h2.  For more complex styling consider using placeholders
// (see base/placeholders)

h1, .h1{
  @extend %t-large;
  @extend %t-base-margin;
  font-family: $header-font-family;
  font-weight: $base-font-weight
}
h2, .h2{
  @extend %t-small;
  @extend %t-base-margin;
  font-family: $base-font-family;
  font-weight: $base-font-weight
}
h3, .h3{
  @extend %t-base;
  @extend %t-small-margin;
  font-family: $base-font-family; 
  font-weight: $base-font-weight 
}


// SPECIAL HEADERS AND TYPOGRAPHY

// Any one off or unique typography  styles should go here - that way they are 
// all kept in one place and not scattered across multiple partials