/* GRID AND BREAKPOINT SETUP PARTIAL */

// This file is called by all-globals.scss (which in tern is then called by other partials in the site)
// Do not place any code in this file that would be printed (e.g. do not apply any styles to any selectors) 


// This example assumes that you are using susy as your grid system and breakpoint to handle media queries

@import "susy";
@import "breakpoint";


// Global default
$susy: (
  columns: 6,
  gutters: 0.4,
  math: fluid,
  container-position: center,
);

// Mid size screens
$susy_nine_col: (
  columns: 9,
  gutters: 0.4,
  math: fluid,
  container-position: center,
);

// Large screens
$susy_twelve_col: (
  columns: 12,
  gutters: 0.4,
  math: fluid,
  container-position: center,
);

// See elements/global-elements.css.scss for the container setup.
