/* MIXINS PARTIAL */

// This file is called by all-globals.scss (which in tern is then called by other partials in the site)
// Do not place any code in this file that would be printed (e.g. do not apply any styles to any selectors) 



// COMPASS MODULES.  

// This results in much faster livereloads and is recommended instead of calling the whole of compass with @import compass.

@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/css3/user-interface";
@import "compass/css3/columns";
@import "compass/css3/opacity";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/text/replacement";
@import "compass/typography/vertical_rhythm";



// MISC MIXINS

// The following mixins are commonly useful but not necessarily required by every project.  Use or lose as you wish.


// Transition mixin:  (Req Sass 3.2+) - usage: @include transition(all 0.2s ease-in-out);
@mixin transition($transition...) {
  // defining prefixes so we can use them in mixins below
  $prefixes:      ("-webkit-", "" );
  @each $prefix in $prefixes {
    #{$prefix}transition: $transition;
  }
}

// Basic list with no styles - applied to ul/ol
@mixin styled-list{
  list-style: none;
  padding: 0;
  margin: 0;

  li{
    text-indent: 0;
    padding: 0;
  }
}

// Basic responsive image styles - applied to img
@mixin res-image{
  display: block;
  height: auto;
  max-width: 100%;
}

// Typesize mixin from
// https://medium.com/@amlinarev/using-sass-compass-vertical-rhythm-to-set-up-typography-defaults-in-a-project-34fe2f1d2c02

@mixin typeSize($size) {

  @if $size == "tiny" {
    @include adjust-font-size-to($tiny-font-size);
    @include adjust-leading-to($tiny-font-leading);
  }
  @if $size == "small" {
    @include adjust-font-size-to($small-font-size);
    @include adjust-leading-to($small-font-leading);
  }
  @if $size == "base" {
    @include adjust-font-size-to($base-font-size);
    @include adjust-leading-to($base-font-leading);
  }
  @if $size == "medium" {
    @include adjust-font-size-to($medium-font-size);
    @include adjust-leading-to($medium-font-leading);
  }
  @if $size == "large" {
    @include adjust-font-size-to($large-font-size);
    @include adjust-leading-to($large-font-leading);
  }

}