/* PLACEHODLERS PARTIAL */

// This file is called by all-globals.scss (which in tern is then called by other partials in the site)
// Do not place any code in this file that would be printed (e.g. do not apply any styles to any selectors) 


/*
Placeholders are a handy way of keeping code DRY and organised.  For more on placeholders and how to use them see:
http://thesassway.com/intermediate/understanding-placeholder-selectors
*/


// TYPOGRAPHY PLACEHOLDERS

// Type weights

%t-strong {
 font-weight: 700;
}
%t-regular {
 font-weight: 400;
}


// Type sizes

%t-tiny {
 @include typeSize(tiny);
}
%t-small {
 @include typeSize(small);
}
%t-base {
 @include typeSize(base);
}
%t-medium {
 @include typeSize(medium);
}
%t-large {
 @include typeSize(large);
}

// Type margins

%t-small-margin{
  @include rhythm(0, 0, 0, 0.25);
}

%t-base-margin{
  @include rhythm(0, 0, 0, 1);
}

// Body typography - place styles for selectors commonly found in body typography here.
// This placeholder is extended by any elements/selectors which hold body typography

%body-typography{
  
  // Headings
  h1{
    // Styles
  }

  h2{
    // Styles
  }

  // Type elements
  p{
    // Styles
  } 

  // Lists

  ul, ol{
   // Styles

    li{
      //styles
    }
  }

  // Links

  a{
    // Styles
  }
 
}

// Font icons

// Recommend using icomoon for font icon creation https://icomoon.io/

// Extend the %font-icon placeholder on the pseudo element and then extend the placeholder class 
// for the icon that you want to use.

%font-icon {
  font-family: 'font-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%my-font-icon {
  content: "\e600";
}
