/* VARIABLES PARTIAL */

// This file is called by all-globals.scss (which in tern is then called by other partials in the site)
// Do not place any code in this file that would be printed (e.g. do not apply any styles to any selectors) 


/*

The variables in this file are examples only and should be changed according to the requirements of your project

*/

// Colours

$brand-color-primary : #000000;
$brand-color-secondary: #000000;
$brand-color-accent: #000000;


// Neutrals
$white : #ffffff;
$black : #000000;

// Greys and backgrounds

$brand-grey-light: #D1D1D1;
$brand-grey-mid: #8A8A8A;
$brand-grey-dark: #3c3b3f;

// Special colours

$brand-text-colour: #454545;
$brand-input-grey: #b3b3b3;
$brand-input-blue: #3B3B3B;


// V rhythm setup

// See http://atendesigngroup.com/blog/vertical-rhythm-compass
// And https://medium.com/@amlinarev/using-sass-compass-vertical-rhythm-to-set-up-typography-defaults-in-a-project-34fe2f1d2c02

$rhythm-unit: "rem";
$base-font-size: 16px;
$base-line-height: 30px;

// Typescale

$x-tiny-font-size: 12px;
$x-tiny-font-leading: 0.75;

$tiny-font-size: 12px;
$tiny-font-leading: 0.75;

$small-font-size: 14px;
$small-font-leading: 0.75;

$base-font-size: 16px;
$base-font-leading: 0.95;

$medium-font-size: 20px;
$medium-font-leading: 1.25;

$large-font-size: 36px;
$large-font-leading: 1.25;



// Font Styles

$base-font-color: #303033;
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;

$light-font-weight: 100;
$mid-light-font-weight: 300;
$base-font-weight: 500;
$heavy-font-weight: 900;


// Breakpoints - adapt as required

// Any styles not wrapped in a breakpoint mixin will be displayed from zero pixel width up 
$mobile: 20.000em; //min width 320px @16px
$large_mobile: 30.063em; //min width 481px @16px
$small_tablet: 38.000em; //min width 608px @16px
$tablet: 48.000em; //min width 768px @16px 
$large_tablet: 56.250em; //min width 900px @16px 
$desktop: 64.375em; //min width 1030px @16px 
$large_desktop: 77.500em; //min width 1240px @16px 